.mains{
    width: 40%;
      height: 85%;
      -webkit-box-shadow: 0px 3px 36px 11px rgba(0,0,0,0.26); 
  box-shadow: 0px 3px 36px 11px rgba(0,0,0,0.26);
    
      align-items: center;
      border-radius: 20px;
}